<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         failOnRisky="true"
         failOnWarning="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <directory>vendor/</directory>
            <directory>tests/</directory>
        </exclude>
        <report>
            <html outputDirectory="tests/coverage/html"/>
            <text outputFile="tests/coverage/coverage.txt"/>
            <clover outputFile="tests/coverage/clover.xml"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="tests/coverage/junit.xml"/>
    </logging>

    <php>
        <env name="APP_ENV" value="testing"/>
        <!-- Example environment variables for testing -->
        <env name="NFSE_CERTIFICATE_PATH" value="tests/fixtures/test_certificate.pfx"/>
        <env name="NFSE_CERTIFICATE_PASSWORD" value="test_password"/>
    </php>
</phpunit> 